/* Insertamos un reseateador de la hoja de estilo */ol
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
min-height: fit-content;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Desde aquí el código propio*/
/*fonts
font-family: 'Exo', sans-serif;
font-family: 'Space Mono', monospace;
*/


h1 {
  font-family: 'Space Mono', monospace;
  font-size: 50px; 
  margin-top: 5%;
  margin-bottom: 5px;
}
h2 {
  font-family: 'Space Mono', monospace;
  font-size: 20px;   
  text-align: center;
  margin-top: 1%;
  margin-bottom:5%;
}

p {
  font-family: 'Exo', sans-serif;
  line-height: normal;
  word-wrap: break-word;
  overflow: auto;
  margin-bottom: 2rem ;
}


header a {
    text-decoration: none;
}
header {
    padding: 0 20px;
    background-color:  #2F2F2F;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    position: sticky;
}
#logoanto {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

  /* Estilo links */
ul {
    float: left;
    color: #FEFCFD;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 20px;
}
ul {
    list-style: none;
    
    display: flex;
    align-items: right;
    justify-content: space-around;
}
  
ul a {
    color: #FEFCFD;
}
  
ul li {
    padding: 5px;
    margin-left: 10px;
}
  
ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#icono-hamburguesa {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
#icono-hamburguesa div {
    width: 35px;
    height: 3px;
    background-color: #FEFCFD;
    margin: 6px 0;
    transition: 0.4s;
}
  
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    align-content: flex-start;
    

  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 55%;
    height: 8rem;
    width: 30%;
    color: #FEFCFD;
    background-color: #2F2F2F;
    margin: 10px;
    
  }
 
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #icono-hamburguesa {
      display: block;
    }
    .footer {
   
      flex-direction: column;
      height: fit-content;
      background-color: #2F2F2F;
      line-height: 5%;
    }
    p {
      word-wrap: break-word;
      
        }
    .seccion1 {
      margin: 10%;
    }
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  max-height: 100%;
  }
  
  #content-wrap {
    padding-bottom: 3rem;    /* Footer height */
  }
  footer{
    margin-top: 2rem;
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;            /* Footer height */
    background-color: #2F2F2F;
   
 
  }
  .footer {
    padding: 2rem;
    display: flex;
    justify-content:space-between;
    line-height: 20px;
    font-family: 'Exo', sans-serif;
    color: rgba (255,255,255, 50%);
    background-color: #2F2F2F;
  }
  #footer:hover{
    color: #FEFCFD;
    transition: 0.5s;
  }
  a {
    color: #FEFCFD;
    text-decoration: none;
  }
  .seccion1 {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  } 
  .seccion3 {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
   height: fit-content;


  } 
  p {
    max-width: 50vh;
  } 
  .divisor {
    background-image: url("https://www.svgrepo.com/show/357347/asterisk.svg");
    background-repeat: repeat;
    padding-bottom: 6%;
    
  }
  .perfil-anto {
    margin: 2rem;
  }

  .div-clases{
    width: 100%;
    display: flex;
    justify-content: flex-start;


  }
  .titulo-clases {
    align-items: flex-start;
  }
  .parrafo-clase {
    padding: 5%;

  }
  ol {
    font-family: 'Exo', sans-serif;
    text-align: center;
    line-height: 150%;
  }

  li::before {
    display: inline-block;
    content:" *" ;
    margin-right: 1rem;
  }
  .seccion2 {
    margin: 3%;
  }
  .recursos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .link {
    color: white;
    font-family: 'Exo', sans-serif;
    background-color: black;
    padding: 1%;
    margin: 1%;

  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
  }
  
  input[type=submit]:hover {
    background-color: #c40000a1;
    transition: 0.3s;
  }
  
  .contacto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Exo', sans-serif;
    width: 50%;
    align-content: center;
    position: relative;
    position: absolute;
    top: 20%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
   
  }
