/* Insertamos un reseateador de la hoja de estilo */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Desde aquí el código propio*/
/*fonts
font-family: 'Exo', sans-serif;
font-family: 'Space Mono', monospace;
*/
h1 {
    
}

header a {
    text-decoration: none;
}
header {
    padding: 0 20px;
    background-color:  #2F2F2F;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}
#logoanto {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

  /* Estilo links */
ul {
    float: left;
    color: #FEFCFD;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 20px;
}
ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: right;
    justify-content: space-around;
}
  
ul a {
    color: #FEFCFD;
}
  
ul li {
    padding: 5px;
    margin-left: 10px;
}
  
ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#icono-hamburguesa {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
#icono-hamburguesa div {
    width: 35px;
    height: 3px;
    background-color: #FEFCFD;
    margin: 6px 0;
    transition: 0.4s;
}
  
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    align-content: flex-start;
    

  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 55%;
    height: 8rem;
    width: 30%;
    color: #FEFCFD;
    background-color: #2F2F2F;
    margin: 10px;
    
  }
 
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #icono-hamburguesa {
      display: block;
    }
  }
  